.login-container:before {
    content: " ";
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    z-index: -2;
    background: url('../../../assets/images/login-back.jpg') no-repeat fixed 50%;
    background-size: cover;
}

.login-container {
    display: grid;
    grid-template-columns: 35%;
    grid-template-rows: 60%;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.align-center {
    justify-content: center;
    align-items: center;
}

.login-form {
    min-width: 360px;
    min-height: 15rem;
    margin-top: 30%;
    background-color: white;
    padding: 10%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn.login-button {
    margin-top: 25px;
    background-color: var(--main-color);
    width: 100%;
    font-weight: 600;
}

.btn.login-button:hover, .btn.login-button:focus {
    background-color: var(--main-color);
}

.error-msg {
    font-size: 12px;
    color: red;
}
