.video-player-container {
  position: fixed;
  padding: 20px 0;
  overflow-y: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000ba;
}

.hide-container {
  z-index: -1;
}

.full-screen{
  height: 100%;
  width: 100%;
}

.mt-50 {
  margin-top: 50px;
}

.plr-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.controls {
  position: fixed;
  right: 0;
}

.mr-20 {
  margin-right: 20px;
}

.mr-40 {
  margin-right: 40px;
}
