.video-player-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  padding: 20px 0;
  top: 0;
  overflow-y: auto;
  left: 0;
  background-color: #000000ba;}

.hide-container {
  z-index: -1;
}

.full-screen{
  height: 100%;
  width: 100%;
}

.mt-50 {
  margin-top: 50px;
}

.plr-30 {
  padding-left: 30px;
  padding-right: 30px;
}
